<div id="top-bar">
    <a routerLink="/aboutme">
        <h1 id="app-heading">About Me</h1>
    </a>
    <a routerLink="/blog">
        <h1 id="app-heading">Blog</h1>
    </a>
    <a routerLink="/resume">
        <h1 id="app-heading">Resume</h1>
    </a>
    <a routerLink="/portfolio">
        <h1 id="app-heading">Portfolio</h1>
    </a>
    <a routerLink="/services">
        <h1 id="app-heading">Services</h1>
    </a>
    <a routerLink="/contact">
        <h1 id="app-heading">Contact</h1>
    </a>
</div>